*{

	margin:0px;
	padding: 0px;
}
body{
	background-color: #EEE;
}
.container{
	max-width: 1000px;
	background-color: #E4F4;
	margin: 0 auto;
	padding: 20px;
}
.header{

}
.profile-img{
	width: 100px;
	height: 100px;
	border:3px solid white;
	border-radius: 50%;
	float: left;
}


.header-bio{
	float: left;
	padding: 30px;
}
h1,h2,h3,h4,h5,h6{
	color: #11999e;
}
.p{
	color: black;
}
h1:hover{
	color: red;
}
.header-contact{
	float: right;
	padding: 30px;
}
.header-contact a{
	text-decoration: none;
	color: teal;
	font-weight: bold;


}
.header-contact a:hover{
	text-decoration: underline;
	color: tomato;

}
.div-clear{
	clear: both;
}
hr{
	border:solid black 3px;
	width: 100%;
	margin: 20px auto;
	border-bottom: none;

}

*......personal info....*
.content{
	margin-bottom: 30px;

}
.left-div{
	width: 30%;
	float: left;

}
.right-div{
	width: 70%;
	float: right;
	font-weight: bold;

}
.common-hr{
	border:solid black 1px;
	border-bottom: none;
	margin: 20px;
}


.edu-left{
	float: left;
	width: 45%;

}
..edu-right{
	float: left;
	width: 45%;
	
}
.fotter{
	background-color: black;
	text-align: center;
	padding: 10px;

}
.fotter a{
	color: white;
	text-decoration: none;
	margin: 20px;


}

.fotter p{
	color: white;
	margin-top: 20px;
}
.fotter a:hover{
	text-decoration: underline;
	color: tomato;

}
.fotter p:hover{
	text-decoration: underline;
	color: tomato;
	
	
	